<!DOCTYPE html>
<html>
<head>
    <title>UFC Fighter Prediction</title>
    <style>
        input::-webkit-contacts-auto-fill-button {
            visibility: hidden;
            display: none !important;
            pointer-events: none;
            position: absolute;
            right: 0;
        }
    </style>
</head>
<body>
    <h1>UFC Fighter Prediction</h1>
    
    <div>
        <h3>Fighter 1</h3>
        <div class="autocomplete-container">
        <div class="autocomplete-container">
            <input 
                type="text" 
                id="fighter1-input" 
                placeholder="Type fighter name..."
                autocomplete="off"
                autocapitalize="off"
                autocorrect="off"
                spellcheck="off">
            <ul id="fighter1-suggestions" style="display: none;"></ul>
            <div id="fighter1-error" style="display: none; color: red;"></div>
            <div id="fighter1-selected" style="display: none;">Selected: <span></span></div>
        </div>
        </div>
    </div>
    
    <div>
        <h3>Fighter 2</h3>
        <div class="autocomplete-container">
            <input 
                type="text" 
                id="fighter2-input" 
                placeholder="Type fighter name..."
                autocomplete="off"
                autocapitalize="off"
                autocorrect="off"
                spellcheck="off">
            <ul id="fighter2-suggestions" style="display: none;"></ul>
            <div id="fighter2-error" style="display: none; color: red;"></div>
            <div id="fighter2-selected" style="display: none;">Selected: <span></span></div>
        </div>
    </div>
    
    <br></br>
    <button id="submit-btn" disabled>Submit Prediction</button>
    <div id="result"></div>

    <script src="../static/js/autocomplete.js"></script>
</body>
</html>